<li class="country-list__item">
    <div class="country-container">
        <img class="country-info__flag flags--small" src="{{flags.svg}}" alt="{{flags.alt}}" />
        <h2 class="country-info__title">{{name.official}}</h2>
    </div>
</li>